[Desktop Entry]
Name=AceStream Handler
Exec=/home/safe/bin/acestream-url-handler %u
Type=Application
Terminal=false
MimeType=x-scheme-handler/acestream;
NoDisplay=true
