[Desktop Entry]
Exec=/home/safe/disk_kom/freedownloadmanager/fdm %u
Icon=freedownloadmanager_torrent
MimeType=application/x-bittorrent
Name=Free Download Manager
NoDisplay=true
Type=Application
