[Desktop Entry]
Categories=Network;
Comment=
Exec=/home/safe/disk_kom/freedownloadmanager/fdm
GenericName=FDM is a powerful modern download accelerator and organizer
Icon=/home/safe/disk_kom/freedownloadmanager/icon.png
Name=Free Download Manager
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
