[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Alwa's Legacy
GenericName=Alwa's Legacy
Comment=Alwa's Legacy
Icon=/home/safe/support/icon.png
Exec="/home/safe/start.sh" ""
Categories=Game;
Path=/home/safe

