[Desktop Entry]
Categories=Emulator
Comment=Play vintage games using the MAME emulator
Exec=mame
GenericName=MAME is a multi-purpose emulation framework
Icon=mame
Keywords=Emulator;Arcade
Name=MAME
Type=Application
Version=1.4
