[Desktop Entry]
Version=1.1
Type=Application
Name=Pegasus
GenericName=Emulator Frontend
Comment=A cross platform, customizable graphical frontend for launching emulators and managing your game collection.
Exec=/nix/store/1scf5x1sflv0wia37g8l0d2l52r1b7qh-pegasus-frontend-0-unstable-2024-11-11/bin/pegasus-fe
Icon=org.pegasus_frontend.Pegasus
Terminal=false
Categories=Emulator;
Keywords=emulator;retro;game;videogame;video game;player;
