[Desktop Entry]
Type=Application
Name=playlist_edem_adult
Comment=Просмотр playlist_edem_adult
Exec=bash '/home/safe/.config/mpv/`playlist/start_playlist_edem_adult.sh'
Icon=/home/safe/.local/share/desktop-directories/icon/adult.png
Terminal=false
StartupNotify=false
X-SingleMainWindow=true
Categories=Ip tv;

