[Desktop Entry]
Type=Application
Name=playlist_vk_adult
Comment=Просмотр playlist_vk_adult
Exec=bash '/home/safe/.config/mpv/`playlist/start_playlist_vk_adult.sh'
Icon=/home/safe/.local/share/desktop-directories/icon/adult_vk.png
Terminal=false
StartupNotify=false
X-SingleMainWindow=true
Categories=Ip tv;

