[Desktop Entry]
Type=Application
Name=playlist_4k_films
Comment=Просмотр playlist_4k_films
Exec=bash '/home/safe/.config/mpv/`playlist/start_playlist_4k_films.sh'
Icon=/home/safe/.local/share/desktop-directories/icon/4k.png
Terminal=false
StartupNotify=false
X-SingleMainWindow=true
Categories=Ip tv;

