[Desktop Entry]
Type=Application
Name=playlist_tortv
Comment=Просмотр playlist_tortv
Exec=bash '/home/safe/.config/mpv/`playlist/start_playlist_tortv.sh'
Icon=/home/safe/.local/share/desktop-directories/icon/torrenttv.png
Terminal=false
StartupNotify=false
X-SingleMainWindow=true
Categories=Ip tv;

