[Desktop Entry]
Type=Application
Name=Windows Presentation Foundation Host
MimeType=application/x-ms-xbap;
Exec=env WINEPREFIX="/home/safe/.local/share/LuxWine/wprefixes/defprefix_dotnet/dosdevices/h:/.local/share/LuxWine/wprefixes/defprefix_dotnet" wine start /ProgIDOpen Windows.Xbap %f
NoDisplay=true
StartupNotify=true
Icon=0637_PresentationHost.0
