[Desktop Entry]
Type=Application
Name=wscript
MimeType=text/vbscript;
Exec=env WINEPREFIX="/home/safe/.local/share/LuxWine/wprefixes/defprefix_dotnet/dosdevices/h:/.local/share/LuxWine/wprefixes/defprefix_dotnet" wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
Icon=2905_wscript.0
