[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec="/nix/store/50vcrnxs0kl32bwhfjwnlbhk0vhfwphr-rpcs3-0.0.38/bin/.rpcs3-wrapped" 
Name=RPCS3
Categories=Application;Game
Comment=RPCS3
Icon=/home/safe/.cache/rpcs3/shortcut.png
