# Временные и системные файлы
*.swp
*~
*.bak
.DS_Store
.nix-*
result*
.direnv
*.backup
*.old
*.tmp

# История и кэш
.bash_history
.zsh_history
.cache/
.local/share/nix/

# Файлы, созданные Nix при сборке
.drv
